#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: #FFE3B3;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.menuObj{
	font-size: 100%;
	color:#800000;
}


.rotate {
	animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

.menuObj:hover{
	font-weight: bold;
	color:rgb(59, 2, 2)
}

body{
	color:#800000;
	background: #FFE3B3;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.OpenTitle{
	font-size: 150%;
	color:#800000;
	text-align: center;
}
.title{
	font-size: 150%;
	color:#800000;
	text-align: center;
	border-style: solid;
	background: linear-gradient(to right,#800000,rgb(146, 30, 30),rgb(212, 66, 22), rgb(212, 152, 23),#FFE3B3,rgb(212, 152, 23),rgb(212, 66, 22),rgb(146, 30, 30),#800000);

}

.ans{
	color:#800000;
	font-size: 120%;
	text-decoration: underline;

}

.sec{
	color:#800000;
	text-align: center;
}
.about{
	color:#800000;
	text-align: left;
}
.photo{
	text-align: center;
	border-radius: 15%;
	
}
.photo:hover{
	animation: rotation
}
